body {
    padding: 0;
    margin: 0;
    background-color: #1b1d23;
    box-sizing: border-box;
}

.bg-blur {
    backdrop-filter: blur(15px);
}

.nb {
    position: fixed;
    z-index: 1030;
}

.nb-container {
    height: 100%;
    align-items: center;
}

.nb-item {
    height: 80%;
    text-align: center;
    margin: 0;
}

.nb-item:hover {
    cursor: poitner;
    color: #fa9c1b;
    outline: none;
    border: none;
}

.main-content {
    padding: 0;
    margin: 0;
}

.ft-color-orange {
    color: #fa9c1b;
    font-style: italic;
}

.jumbotron {
    padding: 0;
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.jumbotron-img {
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    opacity: 0.2;
}

.jumbotron-content {
    opacity: 1;
    z-index: 2;
}

.jumbotron-title {
    font-size: 5em;
    color: white;
    font-style: italic;
}
